.bpc-event { padding: 0.5em 0 0 0; border-top: 1px solid #666; }
.bpc-event header { line-height: 200px; font-size: 2em; }
.bpc-event header a { display: block; float: left; width: 200px; height: 200px; margin-right: 10px; border: none; }
.bpc-event aside table { border: none; width: auto; margin-top: 0.3em; }
.bpc-event aside td { border: none; padding: 0 5px; }
.bpc-description { padding-top: 0.5em; }

.widget_bpc_widget ul { list-style: none; }

.bpc-error {
    background: firebrick; color: #fffffc; padding: 1em; border: 1px solid #ccc; margin-bottom: 1em;
}
.bpc-feedback {
    background: limegreen; padding: 1em; border: 1px solid #ccc; margin-bottom: 1em;
}